.outer-box {
    width: 100%;
    height: 400px;
    background-color: rgb(90, 9, 9);
}

.box1 {
    /* The first box */
    background-color: blueviolet;
    width: 40%;
    height: 40%;
    float: left; /* Float the box to the left side */
    margin: 10px; /* Add a margin of 10 pixels around the box */
}

.box2 {
    /* The second box */
    background-color: aqua;
    width: 40%;
    height: 40%;
    float: left; /* Float the box to the left side */
    margin: 10px; /* Add a margin of 10 pixels around the box */
}

.box3 {
    /* The third box */
    background-color: chartreuse;
    width: 40%;
    height: 40%;
    float: left; /* Float the box to the left side */
    margin: 10px; /* Add a margin of 10 pixels around the box */
}

.box4 {
    /* The fourth box */
    background-color: deeppink;
    width: 40%;
    height: 40%;
    float: left; /* Float the box to the left side */
    margin: 10px; /* Add a margin of 10 pixels around the box */
}
